{% extends 'dishan/headerfooter.html' %}
{% block content %}
{% load staticfiles%}
<style xmlns="http://www.w3.org/1999/html">


    .background-image1
    {
        background-image: url("{% static 'dishan/images/pic4.webp' %}");
        background-size:cover;
        background-attachment: fixed;
        height:100%;
    }

    h1
    {
        padding: 3%;font-weight: 900;
    }
    h2
    {
        padding: 1%;
        font-weight: 700;
    }

</style>
<div class="about" >
<div class="back">
    <div class="background-image background-image1"></div>
    <div class="content" id="content1">

        <div class="mid">

            <div class="Tagline">

                SOME WORDS ABOUT DISHANJALI

            </div>

        </div>

    </div>
</div>




    <div  class="main_content" style="background-color:rgba(202,222,220,1) ;" >


        <h1 style=";">ABOUT US</h1>
        <div style="padding-bottom: 5%" >

            <p >DISHANJALI EDUCATION AND WELFARE SOCIETY is a Non-Governmental organisation dedicated to help the poor children to achieve the brightness of education so that they can light up their lives. It also works for needy children who are willing to study but are unable to manage due to lack of resources as well as unawareness. DISHANJALI aims at educating people and motivating the youth to bring a change in the society.</p>
            <p>This group of social workers started in the year 2013, when Er. Rajeev Baghel & Er. Vijay Kumar Patidar, the chief founder of DISHANJALI realised that education is not gained to be stored, but should be spread, and provided to those who desire to gain it but are unable to have it.It has 9 education centres (SIX in Indore and THREE in Bhopal) which run on every weekend with a motivation to provide quality education.</p>

        </div>
    </div>
    <div class="vision" style="background-color: rgba(180,215,220,1)">
        <h1 class="">VISION</h1>
        <p class="">To educate every child and spread the ray of hope, awareness and understanding in the society</p>
    </div>
    <div class="about_mission" style="background-color: rgba(200,215,220,1);">
        <h1 class="">MISSION</h1>
        <h2 class="">Quality Education</h2>
        <p class="">To develop practical approach of learning through which students will easily grab subjective knowledge and also helps in betterment of their career.</p>
        <h2>Counseling facility</h2>
        <p class="">"DISHANJALI" supports those students who really want to study but due to lack of resources and guidance they are not able to attain their goals.</p>
        <h2 class="">Library and reading room facility</h2>
        <p class="">This is to provide learning environment where students will get easy access to books which they cannot afford, and also to provide the silent and peaceful atmosphere where they can concentrate on their studies.</p>
        <strong class="">Motivate and encourage youth</strong>
        <P class="">Man power is highly efficient if it is utilized in right direction. As our nation is recognized as nation of youth, so it is the responsibility of youth to step forward and take the alarming situation in their hand for the welfare of society.</P>


    </div>
</div>



{% endblock %}



