{% extends 'dishan/headerfooter.html'%}
{% block content %}
<div class="centers">
    <p>

    <div class='bhopal'>

        <h1>CENTERS OF BHOPAL</h1>

        <div class="center-content">
            <h3>Umeed Bal Grah</h3>
            <div class="center-inner-content">
                Lead by Mr. Lokesh Kumar Jain (B.com)<br>
                This center mainly focus on children of age 2 to 12 years old.<br> We teach them basic Mathmatics, Science, Alphabets and figures.<br>
                Contact Number : 8989162410<br>
                Timing :  Sunday 3pm to 5pm<br>
            </div>


        </div>
        <div class="center-content">

            <h3>Naveen Govt. School </h3>
            <div class="center-inner-content">
                Lead by Er. Vijay Kumar Patidar (M.Tech).<br>
                This center mainly focus on children of class 1st to 5th.<br> We teach them basic Mathmatics, Science, English, Alphabets and Figures.<br>
                Contact Number: 9977555385<br>
                Timing : Saturday 10am to 12noon<br>
            </div>


        </div>


        <div class="center-content">
            <h3>Anand Nagar Boys Hostel</h3>
            <div class="center-inner-content">
                Lead by Mr. Vivek Singh (B.Sc)<br>
                This center mainly focus on children of class 1st to 10th.<br> We teach them basic Mathematics, Science, English, Alphabets and Figures. <br>Also we prepare students for board exams of class 8th and 10th.<br>
                Contact Number: 9584542408<br>
                Timing: Sunday 1pm to 3pm<br>


            </div>

        </div>



        <div class="center-content">

            <h3>Habibia School Ashoka Garden</h3>
            <div class="center-inner-content">

                Lead by Mr. Abhishek Malviya (B.E.)<br>
                This center mainly focus on children of class 1st to 10th.<br> We teach them basic Mathematics, Science, English, Alphabets and Figures. <br>Also we prepare students for board exams of class 8th and 10th.<br>
                Contact Number: 7869411622<br>
                Timing: Saturday 11pm to 1pm<br>


            </div>

        </div>


        <div class="center-content">
            <h3>Katara Hills</h3>
            <div class="center-inner-content">
                Lead by Mr. Vikas Saxena <br>
                This center mainly focus on children of class 1st to 10th.<br> We teach them basic Mathematics, Science, English, Alphabets and Figures. <br>Also we prepare students for board exams of class 8th and 10th.<br>
                Contact Number: 9826213727<br>
                Timing: Sunday 10pm to 12pm<br>

            </div>



        </div>


    </div>
    </p>
    <p>
    <div class='indore'>
        <h1 class="jambotrun">CENTERS OF INDORE</h1>
        <div class="center-content-indore">
            <h3>Chitawad</h3>
            <div class="center-inner-content">
                Lead by Mr. Yash Kulshrestha (B.Tech)<br>
                This center mainly focus on children of class 4th and 5th.<br> We teaches for Navodaya to them. <br>Students andMembers are working hard for maximum selection. <br>
                Contact Number: 7869909760<br>
                Timing: Tuesday, Thursday 3pm to 5pm & Saturday 8am to 10am<br>

            </div>


        </div>
    </div>
    </p>
</div>



{% endblock %}
    
