	{% load staticfiles %}
    {% block  footer %}
    {% endblock %}

<div class="footer">
		<div class="contact_no">
			Call Us:<br>
			BHOPAL : 9977555385<br>
INDORE : 7869909760
		</div>
		<div class="emails">
             Email us: <br>
dishanjali.edu@gmail.com<br>
Head Office :<br>
104 B East Kamla Nagar, Piplani, Bhopal (MP) 462022
		</div>
		<div class="follow">
             <img src="images/linkdin.png">
			<img src="images/insta.png">
			<img src="images/youtube.png">
			<img src="images/twitter.png">
			<img src="images/fb.png">
		</div>

	</div>

</body>
