{% extends 'dishan/headerfooter.html' %}
{% block content %}
{% load staticfiles%}
<style>


    .background-image1
    {
        background-image: url("{% static 'dishan/images/pic4.webp' %}");
        background-size:cover;
        background-attachment: fixed;
        height:100%;
    }




</style>

<body style="position:relative;height:100%;" data-spy="scroll" data-target="#involve" data-offset="15">
<div class="back">
    <div class="background-image background-image1"></div>
    <div class="content" id="content1">

        <div class="mid">

            <div class="Tagline">

               SUPPORT TO EDUCATE CHILDREN

            </div>

        </div>

    </div>
</div>
<div class="Get_involve">


     <div class="co]ntainer">
         <div class="ow">
<!--

                   <nav id="involve" class="navbar navbar-default "  >

                       <ul id='navigation1' class="fixed-nav-padding nav navbar-nav" data-spy="affix" data-offset-top="1">
                           <li><a href="#sponsor">Sponsor a Child</a></li>
                            <li><a href="#Campus_volunteer">Campus Volunteer</a></li>
                           <li><a href="#campaign">Campaign</a></li>
                           <li><a href="#ngo_volunteer">NGO Volunteer</a></li>
                            <li><a href="#donation">Donation</a></li>
                            <li><a href="#rulesm">Rules to Join</a></li>

                       </ul>


                   </nav>


-->
             <div class=" list-style ">
                 <div id="sponsor"style="background-color:rgba(222,232,250,1) ;">
                     <h1 style="font-weight: 900 ;padding: 5% ">Sponsor a Child</h1>

                       India is home to more than 400 million children, the highest in the world. Millions of these children do not have access to their rights.
                        <br>
                     <ul>
                         <li>On average, almost 2 million children die annually before they reach the age of 5 years</li>
                         <li>79% of children under 3 years suffer from anaemia</li>
                         <li>Nearly 18 million adolescents are out of schoo</li>
                         <li>There are over 12 million child labourers</li>
                     </ul>
                     A lack of access to basic necessities like education, nutrition and health care are the leading reasons behind these statistics.<br>
                     You, however, have the power to change this equation!<br>
                     When you sponsor a child, you give them the resources needed to survive and empower them to raise the standard of living for his/her families and communities.<br>

                 </div>
                 <div id="Campus_volunteer" style="background-color:rgba(202,222,220,1)">
                     <h1 style="font-weight: 900 ;padding: 5% ">Campus Volunteer</h1>

                     <strong> Requirements  </strong> <br><br>

                          – Represent DISHANJALI on your campus/work place<br>
                          – Work with faculty and students to promote the cause of volunteerism<br>
                          – 2 hours of free time every week<br>
                          – Good presentation skills<br>
                          – Spread the word through posters, presentations, college fests, emails, social and other media.<br><br>


                     <strong> We will provide you a certificate at the end of the engagement</strong>


                 </div>
                 <div id="campaign"  style="background-color: rgba(180,215,220,1);">
                     <h1 style="font-weight: 900 ;padding: 5% ">Campaign</h1>
                     <ul>
                     <li>Education</li>
                     <li>Swatch Bharat</li>
                     <li>Beti Bacho</li>
                     <li>Blood Donation</li>
                     <li>Organ Donation</li>
                     <li>Green India - Plantation</li>
                     <li>Imunisation</li>
                     <li>Shramdaan</li>
                     </ul>


                 </div>
                 <div id="ngo_volunteer" style="background-color: rgba(200,215,220,1);">
                     <h1 style="font-weight: 900 ;padding: 5% ">NGO Volunteer</h1>
                       Are you under 30? Do you have the passion to contribute towards the country’s progress? Join us! Volunteer with us for a minimum of two hours every week by<br>
                   <ul>
                     <li>Teaching / Mentoring children at an orphanage or community centre near you</li>
                     <li>Contributing towards environmental conservation</li>
                   </ul> OR<br>
                     <ul>
                     <li>help us with designing posters, fund raising etc</li>
                     <li>help us on and off during our events</li>
                     </ul><br>
                     <strong>​We will provide you a certificate at the end of the engagement</strong>

                 </div>
                 <div id="donation" style="background-color: rgba(198,235,230,1) ;">
                     <h1 style="font-weight: 900 ;padding: 5% ">Donation</h1>
                   We believe continuous support at various levels will lead to a positive transformation in the children we work with. We seek your financial support towards Dishanjali's projects. Donate your old books, clothes, stationary materials and many more.........
                     <div class="">
                          <button type="button" class="get_involve_button get_involve_buttonhover" > <a href='donate.html'>DONATE</a></button>
                     </div>


                 </div>
                 <div id="rulesm" style="background-color:rgba(212,242,240,1);>
                     <h1 style="font-weight: 900 ;padding: 5% ">Rules</h1>

                   


                 </div>
             </div>

         </div>

     </div>


               </div>
</body>
    {% endblock %}