{% extends 'dishan/headerfooter.html'%}
{% block content %}
{% load staticfiles%}
<style>


    .background-image1
    {
        background-image: url("{% static 'dishan/images/pic4.webp' %}");
        background-size:cover;
        background-attachment: fixed;
        height:100%;
    }


</style>
<div style="background-color:rgba(212,242,240,1);font-weight: 700;">
<div class="back">
    <div class="background-image background-image1"></div>
    <div class="content" id="content1">

        <div class="mid">

            <div class="Tagline">

                STORY BEHIND DISHANJALI

            </div>

        </div>

    </div>
</div>
<div class="our_motivation">
    <h1 style="text-align: center;padding: 3%;font-weight: 900;">OUR MOTIVATION</h1>

    <div class="" style="background-color:rgba(202,222,220,1) ;text-align: center;text-align: center;font-size: 20px; padding: 10%">

        <div class="row">
            <div class="col-md-10 col-sm-12  col-md-offset-1">


                ​
                <p>  It was January, one of the coldest months of the year in central India. I went to a tea stall near my hostel room. While chatting with my friends and sipping a hot cup of tea, my eyes ran down to a boy standing few meters away from me. He was trying to steal samosas from the stall. After a few careful attempts, he was able to take 3 samosas and hide them inside his small bag. Before anyone could suspect, he ran away swiftly. I did not pay much attention to him as I was already getting late for my hostel.
                </p>
                <P>
                    Next day on the same stall, I saw him being scolded by a group of people. When enquired, I found out that he had been caught red handed for stealing food. No one asked him the reason for his acts, nobody cared for his pain, rather they were busy scolding him. I went to him, paid his debt and bought him samosas to eat. On the very next day, when I saw him begging for food, I went to him and asked about his family, his home and his life. He told me his name was Shiva. His father was a drunkard who worked the whole day only to spend all his earnings on alcohol. His mother used to warn them their daily meal and the house rent- a common story of every slum in India. And the biggest victims of this poverty are those innocent, potentially talented and bright young kids who lose their childhood, forget to live and are forced to survive by indulging into petty thefts, at first, and heinous crimes, eventually.
                </P>
            </div>
        </div>
    </div>
    <div class="" style="background-color: rgba(180,215,220,1); text-align: center;text-align: center;font-size: 20px;padding: 10%">
        <div class="row">
            <div class="col-md-10 col-sm-12  col-md-offset-1">

                <p>
                    But this kid motivated me to reach for a solution and not just complain about the problem. His hopeful, sunken eyes moved me. I thought why not to help kids like him study, and educate them so that they can earn a better living for themselves and their families. With this idea and a group of individuals, mainly my hostel and college mates and a few well established personnel, I started visiting nearby slum areas. We approached them with our plan to teach their kids from 10-12 am on weekends.
                    ​</p>
            </div>

        </div>
    </div>
    <div class="" style="background-color: rgba(200,215,220,1);text-align: center;font-size: 20px;padding: 10%">
        <div class="row">
            <div class="col-md-10 col-sm-12  col-md-offset-1">

                <p>
                    On conversing with the people, we came to know that the school provides a namesake of education; children are sent home after their mid day meals and teachers do not pay attention to their actual subject knowledge. These schools often shut down on account of electric failures and even mild rains. With these issues at hand, we convinced about 40 families, constituting around 100 kids, to send their kids to us for proper education.
                    ​</p>
            </div>

        </div>
    </div>
    <div class="" style="background-color: rgba(198,235,230,1) ;text-align: center;text-align: center;font-size: 20px;padding: 5%">
        <div class="row">
            <div class="col-md-10 col-sm-12  col-md-offset-1">

                <p>
                    Full of enthusiasm, we started our first class the very next day. But now we faced the real challenge. Kids aged 12 or so, who were studying in 5th and 6th, didn’t even know basic science and mathematics. Reading a sentence or adding and subtracting numbers was an uphill task for these, so far, poorly educated kids. So we grouped them according to their age and class and started teaching them from scratch. After about 4 months of teaching, we noticed certain changes in them; they started studying willingly with interest and didn’t skip classes. They were able to make calculations at shops and grocery stores, avoiding business loss at shops and kept a fair knowledge of the money spent by their parents too.
                    ​</p>
            </div>

        </div>
    </div>
    <div style="font-size: 20px;font-weight:700 ;text-align: center;padding: 3%"> Er. VIJAY KUMAR PATIDAR (FOUNDER & PRESIDENT) </div>

</div>
</div>
{% endblock %}
    
